/*.AspNet-Menu .selected a,
.AspNet-Menu .selected a:hover{background:#13526e url(../img/menu-bg.gif) 0 -120px repeat-x;color:#fff;border-color:#13526e;margin-top:0;padding-top:5px;}*/

.AspNet-Menu a {
  display: block;
  padding: 10px 12px;
  color: #3f3f40;
  background-color: transparent;
  font-family: 'Fabriga', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.AspNet-Menu a:visited {
  color: #585959;
}
.AspNet-Menu a:hover {
  color: #368df7;
  text-decoration: none;
}

.AspNet-Menu ul a {
  padding: 4px 10px 5px;
}

.SimpleEntertainmentMenu {
  font-size: 12px;
  height: 34px;
}
.AspNet-Menu {
  position: relative;
  float: left;
  margin-left: 10px;
  z-index: 999;
}
.AspNet-Menu li {
  float: left;
}

.AspNet-Menu ul a:hover,
.AspNet-Menu li li:hover > a {
  background: none;
  color: #333;
}

.AspNet-Menu li li:hover {
  background-color: #f4f4f4;
  position: relative;
}
.AspNet-Menu li li:hover a {
  position: relative;
}

.AspNet-Menu li:hover ul {
  display: block;
  min-width: 12em;
}
.AspNet-Menu li:hover ul ul {
  display: none;
}

.AspNet-Menu ul {
  position: absolute;
  display: none;
  background: #fff;
  padding: 2px 0;
  border: 1px solid #dfdfdf;
  border-top: 2px solid #13526e;
  z-index: 999;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.AspNet-Menu ul ul {
  border: 1px solid #dfdfdf;
  left: 11em;
  top: 0;
  margin-left: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.AspNet-Menu .produtos-skus ul {
  width: 21em;
}
.AspNet-Menu .controle_de_cliente ul {
  width: 15em;
}
.AspNet-Menu .configuracoes ul {
  width: 13em;
}
.AspNet-Menu .relatorios ul {
  width: 17em;
}

.AspNet-Menu li li:hover ul {
  display: block;
}

.AspNet-Menu ul li {
  float: none;
  display: block;
}

.AspNet-Menu ul a {
  background: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

li .AspNet-Menu-WithChildren {
  background: url(../img/arrow-right.png) right center no-repeat;
}
